.x-followCard{
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: .8rem;
  justify-content: space-between;
  
}

.x-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.x-followCard-info{
  display: flex;
  flex-direction: column;
}

.x-followCard-infoUserName{
  opacity: .6;
}

.x-followCard-avatar{
  width: 48px;
  height: 48px;
  border-radius: 1000px;

}

.x-buttonFollow{
  cursor: pointer;
 margin-left: 16px;
 border: 0;
 border-radius: 999px;
 padding: 6px 16px;
 font-weight: bold;
 border: 1px solid #000;
 transition: .3s ease background-color;
}


.x-buttonFollow.is-following{
  background-color:red ;
  
 }

.x-buttonFollow:hover{
  background-color: #09f;
}

.x-buttonFollow.is-following:hover{
  border: 1px solid red;
 }

.appComponent{
 display: flex;
 flex-direction: column;
 gap: 10px;
}


